{% extends 'base.html' %}
{% load static %}

{% block metadescription %}

    {{product.description|truncatewords:155}}

  {% endblock %}
{% block title %}
 {% if product %}
   {{product.name}}  - plant lover
{% endif %}
  {% endblock %}
{% block content %}

    <div class="row my_row_prod_cls">
    <div class="mx_auto">
         <p><a  href="{% url 'shopApp:AllProdCat'  %}">Homes</a>|<a  href="{{ product.category.get_url}}">{{product.category}}</a>{{product.name}}</p>
    </div>

<div class="container">
<br>

<div class="row ">
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
        <div  style="min-width:18rem">
             <img src="{{ product.image.url }}"  alt="{{product.name}}">
        </div>
    </div>


<!--    <div class="col-12 col-sm-12 col-md-12 col-lg-6 " >-->
<div class="col-9 col-sm-12 col-md-4 xol-lg-4 " >
    <div >
        <h1 class="my_pro_title">product Description</h1>
          <p >{{product.price}}</p>
        <p class="my_title"></p>
        <p class="text-justify my_prod_text">{{product.description}}</p>
        {% if product.stock <= 0 %}
        <p class="text-justify my_prod_text"><b>Out of stock</b></p>

       {% else %}
        <a class="btn btn-secondary" href="{% url 'cart_app:addCart' product.id %}">Add to cart</a>
         {% endif %}


</div>
    </div>
    </div>
</div>
</div>
{% endblock %}